!volumes/postgresql/.gitkeep
volumes/postgresql/*
/testdata
.DS_Store
__debug_bin*
/asset-service
/seed-ddnet-skins
/provision-pocketid
/seed-ddnet-maps
/check-external
/update-tilesets
/seed-twdata-maps
